@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);
@import "tailwindcss";
@plugin "tailwindcss-animate";
@plugin "tailwind-scrollbar-hide";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-*: initial;
  --color-base-1: var(--base-1);
  --color-base-2: var(--base-2);
  --color-base-3: var(--base-3);
  --color-base-4: var(--base-4);
  --color-base-5: var(--base-5);
  --color-base-6: var(--base-6);
  --color-base-7: var(--base-7);
  --color-base-8: var(--base-8);
  --color-base-9: var(--base-9);
  --color-base-10: var(--base-10);
  --color-base-11: var(--base-11);
  --color-base-12: var(--base-12);
  --color-accent-1: var(--accent-1);
  --color-accent-2: var(--accent-2);
  --color-accent-3: var(--accent-3);
  --color-accent-4: var(--accent-4);
  --color-accent-5: var(--accent-5);
  --color-accent-6: var(--accent-6);
  --color-accent-7: var(--accent-7);
  --color-accent-8: var(--accent-8);
  --color-accent-9: var(--accent-9);
  --color-accent-10: var(--accent-10);
  --color-accent-11: var(--accent-11);
  --color-accent-12: var(--accent-12);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-radius: var(--radius);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-brand: var(--brand);
  --color-highlight: var(--highlight);
}

:root {
  --base-1: hsl(240 20% 99.01960784313727%);
  --base-2: hsl(240 19.999999999999943% 98.0392156862745%);
  --base-3: hsl(240 11.111111111111065% 94.70588235294117%);
  --base-4: hsl(240 9.52380952380956% 91.76470588235294%);
  --base-5: hsl(230.00000000000003 10.714285714285722% 89.01960784313725%);
  --base-6: hsl(240 10.144927536231888% 86.47058823529412%);
  --base-7: hsl(233.33333333333337 9.89010989010989% 82.15686274509804%);
  --base-8: hsl(230.7692307692308 10.23622047244095% 75.09803921568627%);
  --base-9: hsl(230.76923076923066 5.936073059360735% 57.05882352941176%);
  --base-10: hsl(226.1538461538462 5.394190871369299% 52.74509803921569%);
  --base-11: hsl(220 5.88235294117647% 40%);
  --base-12: hsl(210 12.5% 12.549019607843137%);
  --accent-1: hsl(209.99999999999977 100% 99.2156862745098%);
  --accent-2: hsl(207.27272727272737 100% 97.84313725490196%);
  --accent-3: hsl(205 92.30769230769234% 94.90196078431372%);
  --accent-4: hsl(202.85714285714286 100% 91.76470588235294%);
  --accent-5: hsl(205.5737704918033 100% 88.0392156862745%);
  --accent-6: hsl(207 93.02325581395351% 83.13725490196079%);
  --accent-7: hsl(206.53846153846155 85.2459016393443% 76.07843137254902%);
  --accent-8: hsl(205.6551724137931 81.92090395480226% 65.29411764705883%);
  --accent-9: hsl(206.11764705882354 100% 50%);
  --accent-10: hsl(206.5531914893617 95.91836734693877% 48.03921568627451%);
  --accent-11: hsl(207.97927461139895 88.12785388127853% 42.94117647058824%);
  --accent-12: hsl(216.14457831325302 70.94017094017094% 22.941176470588236%);
  --background: hsl(240 20% 99.01960784313727%);
  --foreground: hsl(210 12.5% 12.549019607843137%);
  --card: hsl(240 19.999999999999943% 98.0392156862745%);
  --card-foreground: hsl(210 12.5% 12.549019607843137%);
  --popover: hsl(240 20% 99.01960784313727%);
  --popover-foreground: hsl(210 12.5% 12.549019607843137%);
  --primary: hsl(0 0% 0%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(240 19.999999999999943% 98.0392156862745%);
  --secondary-foreground: hsl(220 5.88235294117647% 40%);
  --muted: hsl(240 19.999999999999943% 98.0392156862745%);
  --muted-foreground: hsl(220 5.88235294117647% 40%);
  --accent: hsl(206.5531914893617 95.91836734693877% 48.03921568627451%);
  --accent-foreground: hsl(0 0% 100%);
  --destructive: hsl(358.4810126582278 69.2982456140351% 55.294117647058826%);
  --destructive-foreground: hsl(350.64935064935065 62.601626016260155% 24.11764705882353%);
  --border: hsl(240 10.144927536231888% 86.47058823529412%);
  --input: hsl(240 10.144927536231888% 86.47058823529412%);
  --ring: hsl(240 10.144927536231888% 86.47058823529412%);
  --chart-1: hsl(206.5531914893617 95.91836734693877% 48.03921568627451%);
  --chart-2: hsl(207.97927461139895 88.12785388127853% 42.94117647058824%);
  --chart-3: hsl(206.11764705882354 100% 50%);
  --chart-4: hsl(205.6551724137931 81.92090395480226% 65.29411764705883%);
  --chart-5: hsl(207 93.02325581395351% 83.13725490196079%);
  --radius: 0.5rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --highlight: pink;
  --brand: var(--accent-12);
}

.dark {
  --base-1: hsl(240 5.555555555555555% 7.0588235294117645%);
  --base-2: hsl(220 5.88235294117647% 10%);
  --base-3: hsl(225.00000000000006 5.7142857142857135% 13.725490196078432%);
  --base-4: hsl(210.00000000000003 7.1428571428571415% 16.47058823529412%);
  --base-5: hsl(214.28571428571428 7.0707070707070745% 19.411764705882355%);
  --base-6: hsl(213.33333333333334 7.692307692307694% 22.941176470588236%);
  --base-7: hsl(212.72727272727275 7.586206896551727% 28.431372549019606%);
  --base-8: hsl(212.00000000000003 7.692307692307687% 38.23529411764706%);
  --base-9: hsl(218.57142857142856 6.250000000000003% 43.92156862745098%);
  --base-10: hsl(221.53846153846155 5.1792828685259% 49.21568627450981%);
  --base-11: hsl(215.9999999999999 6.756756756756753% 70.98039215686273%);
  --base-12: hsl(220 9.09090909090906% 93.52941176470588%);
  --accent-1: hsl(214.73684210526315 42.22222222222223% 8.823529411764705%);
  --accent-2: hsl(218.1818181818182 39.28571428571429% 10.980392156862745%);
  --accent-3: hsl(212.06896551724137 69.04761904761905% 16.470588235294116%);
  --accent-4: hsl(208.77551020408166 100% 19.215686274509807%);
  --accent-5: hsl(206.8965517241379 100% 22.745098039215687%);
  --accent-6: hsl(209.2436974789916 78.80794701986756% 29.607843137254903%);
  --accent-7: hsl(210.95238095238096 66.31578947368422% 37.254901960784316%);
  --accent-8: hsl(211.00671140939596 65.06550218340611% 44.90196078431373%);
  --accent-9: hsl(206.11764705882354 100% 50%);
  --accent-10: hsl(209.6938775510204 100% 61.568627450980394%);
  --accent-11: hsl(209.79020979020981 100% 71.96078431372548%);
  --accent-12: hsl(204.59016393442622 100% 88.0392156862745%);
  --background: hsl(240 5.555555555555555% 7.0588235294117645%);
  --foreground: hsl(220 9.09090909090906% 93.52941176470588%);
  --card: hsl(220 5.88235294117647% 10%);
  --card-foreground: hsl(220 9.09090909090906% 93.52941176470588%);
  --popover: hsl(240 5.555555555555555% 7.0588235294117645%);
  --popover-foreground: hsl(220 9.09090909090906% 93.52941176470588%);
  --primary: hsl(0 0% 100%);
  --primary-foreground: hsl(0 0% 0%);
  --secondary: hsl(220 5.88235294117647% 10%);
  --secondary-foreground: hsl(215.9999999999999 6.756756756756753%
    70.98039215686273%);
  --muted: hsl(220 5.88235294117647% 10%);
  --muted-foreground: hsl(215.9999999999999 6.756756756756753% 70.98039215686273%);
  --accent: hsl(209.6938775510204 100% 61.568627450980394%);
  --accent-foreground: hsl(0 0% 100%);
  --destructive: hsl(359.58041958041963 79.00552486187846% 64.50980392156863%);
  --destructive-foreground: hsl(349.5652173913044 100% 90.98039215686275%);
  --border: hsl(213.33333333333334 7.692307692307694% 22.941176470588236%);
  --input: hsl(213.33333333333334 7.692307692307694% 22.941176470588236%);
  --ring: hsl(213.33333333333334 7.692307692307694% 22.941176470588236%);
  --chart-1: hsl(209.6938775510204 100% 61.568627450980394%);
  --chart-2: hsl(209.79020979020981 100% 71.96078431372548%);
  --chart-3: hsl(206.11764705882354 100% 50%);
  --chart-4: hsl(211.00671140939596 65.06550218340611% 44.90196078431373%);
  --chart-5: hsl(209.2436974789916 78.80794701986756% 29.607843137254903%);
  --radius: 0.5rem;
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
